@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 1em;
  height: 1em;
  border: solid 0.1em rgba(#000, 0.25);
  border-top-color: #000;
  border-radius: 100%;
  display: inline-block;
  animation: spin 0.5s linear infinite;
}