.visual-search {
  display: flex;
  flex-direction: column;

  &__auto-complete-items {
    padding: 1.5em;
    background: #eee;
    display: none;

    &.has--items {
      display: block;
    }
  }
}