.auto-complete-item {
  display: block;
  position: relative;

  &__link {
    color: #888;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.5em 0;
    margin: 0.25em 0;
    display: block;

    mark {
      color: #000;
      font-weight: bold;
      background-color: transparent;
    }
  }

  &__spinner {
    width: 1em;
    height: 1em;
    position: absolute;
    top: 50%;
    left: -1.25em;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.25s;

    .is--loading & {
      opacity: 1;
    }
  }
}